<div class="page-header">
  <h1>Create Menu - Step 1</h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <%= form_for :menu, url: '/menus'  do |f| %>

        <div class="form-group">
          <%= label_tag :title, "Menu Title" %>
          <%= text_field_tag :title, '', autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :price, "Set The Price" %>
          <%= text_field_tag :price, '', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag :cuisine, "Cuisine Type" %>
          <%= text_field_tag :cuisine, '', class: 'form-control' %>
        </div>

        <div class="form-group">
          <div class="field">
            <%= label_tag :menuimage, 'Menu Image' %>
            <%= f.file_field :menuimage %>
          </div>
        </div>


        <div class="form-group">
          <%= label_tag :description, "Describe The Menu" %>
          <%= text_area_tag :description, '', rows: 5, class: 'form-control' %>
        </div>

        <%= submit_tag "Next", class: 'btn btn-primary btn-lg'%>
        or
        <%= link_to "Cancel", "/chefs" %>

    <% end %>

  </div>
</div>
<br>
