<div class="row">
    <div class="col-sm-9">
      <%= form_tag('/chefs', method: 'get', class: 'form-inline') do  %>
          <div class="form-group">
            <%= text_field_tag :date, nil , class: 'form-control', id: 'datepicker', placeholder: "Enter date"%>
          </div>
          <div class="form-group">
            <%= select_tag(:cuisine, options_for_select(User.all.collect(&:cuisine).uniq),
                           {:class => 'form-control', :include_blank => 'All Cuisines'}) %>
          </div>
          <%= submit_tag "Search", class: 'btn btn-default'%>
      <% end %>
    </div>
</div>


<div class="page-header">
  <h1>Featured Chefs</h1>
</div>
<div class="row">
  <% @chefs.each do |c| %>

      <!-- Product Thumbnail -->
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">

          <% photo_url = c.avatar.url %>

          <%= link_to image_tag(photo_url),
                      "/chefs/#{c.id}",
                      alt: "Echo Dot", class: 'img-responsive'%>

          <div class="caption">
            <h4><%= link_to c.name, "/chefs/#{c.id}"%></h4>
            <% c.reviews.average(:rating).to_i.times do |n| %>
                &bigstar;
            <% end %>
            <% (5 - c.reviews.average(:rating).to_i).times do |n| %>
                &star;
            <% end %>
            <p><%= c.reviews.count %> reviews.</p>
            <p>Cuisine: <%= link_to c.cuisine, '#' %></p>

            <p>
              <%= truncate c.name, length: 40 %>
              <%= link_to "[see more]", "/chefs/#{c.id}" %>
            </p>
            <p><a href="/bookings/new?chef_id=<%= c.id %>" class="btn btn-primary" role="button">Book Now</a>
            </p>
          </div>
        </div>

      </div>

  <% end %>
</div>
<%= paginate @chefs %>