<nav class="navbar navbar-default">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-section" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'DineIn', '/', class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-section">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Explore
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "By Chef", '/chefs' %></li>
            <li><%= link_to "By Menu", '/menus' %></li>
          </ul>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <% if session["user_id"].present? %>
            <% if session["user_type"] == 'chef'%>
                <% user = Chef.find_by(id: session["user_id"]) %>
            <% else %>
                <% user = User.find_by(id: session["user_id"]) %>
            <% end %>
            <p class="navbar-text">Hello, <%= user.name %></p>
            <li><%= link_to "My Account", "/users/#{user.id}" %></li>
            <li><%= link_to "Sign Out", '/logout', method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign Up", "/users/new" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Sign In
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Customer Sign In", '/sessions/new?user=customer' %></li>
                <li><%= link_to "Chef Sign In", '/sessions/new?user=chef' %></li>
              </ul>
            </li>
        <% end %>

      </ul>

    </div>
  </div>
</nav>

